#preloader {
    background-color:#fff;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%; 
    z-index: 1000;
    display:table;
    text-align: center;
}
.spinner{
   
}

@keyframes spinner{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
 
.spinner:before {
   
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110px;
    height: 110px;
    margin-top: -40px;
    margin-left: -40px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid var(--main-color);
    border-right: 3px solid transparent;
    animation: spinner .8s linear infinite;
}

.spinner:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -35px;
    margin-left: -35px;
    border-radius: 50px;
    background: url(../../assets/images/User.jpg) center center;
    background-size:cover;
  
}